.App {
  text-align: center;
  margin-top: 50px;
}

button {
  font-size: 20px;
  padding: 5px;
  margin: 15px;
  cursor: pointer;
  background-color: yellow;
}

h2 {
  color: blue;
}

h1 {
  color: green
}
